@charset "utf-8";

html, body {
	padding: 0px;
	margin: 0px;
}

h1, h2, h3 ,h4 {
	margin-top: 0px;
}

body {
	text-align: center;
	background-color: #DDDDDD;
	font-size: 1.5em;
}

header { 
	margin: 0px auto;
	height: auto;
	width: 100%;
}

header img {
	width: 100%;
}

footer {
	background: #296edb;
	width: auto;
	height: 25px;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: #FFFFFF;
}

#main {
	margin: 0px auto;
	width: auto;
}

#werbung {
	margin: 0px;
	padding-top: 5px;
	float: left;
	width: 202px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 20px;
}

#sponsorenleiste {
	margin: 0px;
	padding-top: 5px;
	width: 786px;
	padding-left: 2px;
	padding-right: 2px;
}

#hauptsponsoren {
	margin: 0px;
	background: none;
}

#inhalt {
	text-align: left;
	background: #FFF none repeat scroll 0% 0%;
}
#inhalt .text {
	padding: 10px;
}

#inhalt .text .thumb {
	width: 150px;
}


#kontakt_tabelle td {
	padding: 2px 5px;
	border: 1px #000000 solid;
}

#kontakt_tabelle {
	margin: 20px auto;
	border: 3px #000000 solid;
	border-collapse: collapse;
}

.minibanner {
	margin: 0px;
	background: #296EDB;
	color: #FFFFFF;
	font-weight: 800;
	font-family: century gothic;
	text-align: left;
	padding: 3px 3px 3px 10px;
	border-right: 1px solid #FFF;
}

.full-width {
	width: 100%;
}

.menu  {
	background-image: url(../bilder/buttons/button_navi_0.png);
	transition-property: background-image;
    transition-duration: 1s; 
}

.menu:hover { 
	background-image: url(../bilder/buttons/button_navi_hover.png);
}

.menu_active	{ 
	background-image: url(../bilder/buttons/button_navi_1.png);
	font-weight: bold;
}

table.navi {
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	font-family: century gothic;
}

table.navi a	{
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}

table.navi td {
	text-align: center;
	border: 2px solid #FFFFFF;
	font-size: 20px;
	list-style-type:none;
	display: table-cell;
	width: 123px;
}

.teamtabelle {
	margin: 0px auto;
	font-family: century gothic;
	text-align: center;
	font-weight: 800;
	border-collapse: collapse;
	color:white;
}

.teamtabelle td:first-child {
	Background-color: #296EDB;
	Border: 3px #296EDB solid;
	border-collapse: collapse;
}

.teamtabelle td:last-child {
	Background-color: #296EDB;
	Border: 3px #296EDB solid;
}

#team-images {
	text-align: center;
}

#team-images img {
	width: 270px;
}

#team-images .team-header {
	background: #296EDB;
	width: 270px;
	color: #FFF;
	margin: 10px auto 0px auto;
}

#newest_teams {
	background-color: #BBBBBB;
	border: 2px black solid;
}

#newest_teams td {
	padding: 1px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	width: 330px;
}

#newest_teams a {
	display: block;	
	text-decoration: none;
	color: black;
	transition-property: color;
    transition-duration: 1s;
}

#newest_teams a:hover {
	color: #296EDB;
}

.newest_top {
	width: 536px; 
	float: left;
}

.newest_top table {
	border-collapse: collapse;
	border: 2px black solid;
}

.newest_top td {
	padding: 1px;
	padding-left: 10px;
	padding-right: 10px;
	width: 536px;
	font-size: 14px;
}

.newest_top a {
	display: block;	
	text-decoration: none;
	color: black;
}

#subnavi {
	background: #FFF none repeat scroll 0% 0%;
	width: 200px;
	padding: 10px 0 10px 35px;
	text-align: left;
	font-family: century gothic;
	border-radius: 5px;
}

.sub  {
	padding-left: 10px;
	transition-property: padding-left;
    transition-duration: 0.3s; 
	list-style-type: none;
}

.sub a {
	text-decoration: none;
	color: black;
	font-size: 1.2em;
	display: block;
}

.sub:hover { 
	padding-left: 15px;
}

.sub_active	{ 
	padding-left: 10px;
	transition-property: padding-left;
    transition-duration: 0.3s;
	font-weight: bold;
	list-style-type: none;
}

.sub_active:hover { 
	padding-left: 15px;
}

.sub_active a {
	text-decoration: none;
	color: black;
	display: block;
}

.subsub  {
	padding-left: 40px;
	list-style-type: none;
	transition-property: padding-left;
    transition-duration: 0.3s; 
}

.subsub a {
	text-decoration: none;
	color: black;
	display: block;
}

.subsub:hover { 
	padding-left: 45px;
}

.subsub_active	{ 
	padding-left: 40px;
	transition-property: padding-left;
    transition-duration: 0.3s;
	font-weight: bold;
	list-style-type: none;
}

.subsub_active:hover {
	padding-left: 45px;
}

.subsub_active a {
	text-decoration: none;
	color: black;
	display: block;
}

#preview {
	background-repeat: no-repeat; 
	background-position: center; 
	background-size: auto 100%;
	border: 1px solid #FFF;
	width: auto;
}

#preview_team {
	width: 200px;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #FFF;
	margin-top: 150px;
	margin-right: 250px;
	display: block;
}

#preview_team a {
	text-decoration: none;
	color: #FFFFFF;
}

#preview_titel {
	background-color: #545454;
	display: block;
	height: auto;
	margin-left: 10px;
	margin-right: 100px;
	margin-top: -10px;
	padding: 0 10px 5px 10px;
	text-decoration: none;
	width: 270px;
}

#preview_titel a {
	text-decoration: none;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 14px;
}

#preview_text {
	width: 270px;
	background-color: #000000;
	margin-left: 10px;
	margin-top: -16px;
	margin-right: 50px;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	font-size: 12px;
	color: #FFFFFF;
	display: block;
}

#preview_text a {
	text-decoration: none;
	color: #FFFFFF;
}

.newest_youth {
	width: 250px; 
	float:right;
	font-size: 12px;
}

.newest_youth table {
	border-collapse: collapse;
	border: 2px black solid;
}

.newest_youth td {
	padding: 1px;
	padding-left: 10px;
	padding-right: 10px;
	width: 250px;
}

.newest_youth a {
	display: block;	
	text-decoration: none;
	color: black;
}

.ts-tabelle {
	border: 2px solid black;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}

.ts-tabelle td {
	border: 2px solid black;
	border-collapse: collapse;
	padding-left: 10px;
}

.ts-haupt{
	background-color: #296EDB;
	font-weight: 800;
}

.ts-neben {
	width: 150px;
	background-color: #BBBBBB;
	font-weight: 800;
}
 
.ts-inhalt {
	width: 466px;
}

.ts-main {
	background-color: #BBBBBB;
	font-weight: 800;
}

.ts-nr {
	width: 75px;
	text-align: center;
}

.ts-name {
	width: 200px;
}

.ts-position {
	width: 480px;
}

.ts-bild {
	padding: 5px; 
	padding-bottom: 0px; 
	padding-left: 5px !important;
}

.berichteliste {
	border: 2px black solid;
	border-collapse: collapse;
}

.berichteliste td{
	border:2px black solid;
	padding-left: 10px;
	padding-right: 10px;
}

.berichteliste-top {
	font-weight: 800px;
	background-color: #BBBBBB;
}

.berichteliste a {
	text-decoration: none;
	color: black;
	display: block;
}

.berichteliste tr:hover {
	background-color: #CCCCCC;
}

.komment {
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px solid grey;
	margin-top: -10px;
}

.kommentare {
	font-size: 12px;
	padding-left: 100px;
	padding-right: 100px;
}

.galerie_table {
	border: 5px solid #BBBBBB;
	transition-property: border;
    transition-duration: 1s; 
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.galerie_table:hover {
	border: 5px solid #296EDB;
}

table.navi2 {
	padding: 0px;
	margin: 10px;
	float: center;
	border-collapse: separate;
	font-family: century gothic;
}

table.navi2 a	{
	color: #454545;
	text-decoration: none;
	display: block;
}

.saisonbutton {
	text-align: center;
	border: 2px solid #AAAAAA;
	font-size: 20px;
	list-style-type:none;
	display: table-cell;
	width: 250px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.saisonbutton_active {
	text-align: center;
	border: 2px solid #666666;
	background-color: #488ECF;
	font-size: 20px;
	list-style-type:none;
	display: table-cell;
	width: 250px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.saisonbutton:hover {
	border: 2px solid #296EDB;
	background-color: #DEDEDE;
	transition-duration: 1s;
}
.saisonbutton_active:hover {
	border: 2px solid #296EDB;
	background: #DEDEDE;
	transition-duration: 1s;
}

.srsTable {
	font-size: 12px; 
	width: 100%;
	border-spacing:1px; 
	border-collapse: collapse;
}

.srsTable th {
	font-weight: bold; 
	background-color: #CCCCCC;
}

.srsTable td, .srsTable th {
	border:1px solid gray;
	height:16px;
	padding:2px 5px;
	white-space:nowrap;
}

.srsTable td.srsTabHome {
}

.srsTab div {
	margin: 0px 0px 10px 0px;
}

.srsTab div:nth-last-child(1) {
	margin: 0px 0px 0px 0px;
}

.srsTab p {
	font-size: 18px; 
	font-weight: bold; 
	text-align: left;
}

.srsTable tr.srsHome {
	background-color: #87CEFA;
}

.srsPlan div {
	margin: 0px 0px 10px 0px;
}

.srsPlan div:nth-last-child(1) {
	margin: 0px 0px 0px 0px;
}
.srsPlan p {
	font-size: 14px; 
	font-weight: bold; 
	text-align: left;
}

.srsTable .r {text-align: center;}
.srsTable .c {text-align: center;}
.srsTable .l {text-align: left;}

.srsLinks {
	text-align: left;
}

p.srsLaden {
}

.gegner {
	width: 165px;
	margin: 5px;
	padding: 1px;
	border: 5px solid black;
	border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/* Bootstrap desgin overwrites */

.btn {
	margin: 10px 0;
}

.navbar-brand {
	padding: 0;
}
.navbar-brand img {
	width: 50px;
	height: 50px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	header img {
		width: 700px;
	}
	#hauptsponsoren {
		display: none;
	}
	#team-images img {
		width: 350px;
	}
	#team-images .team-header {
		width: 350px;
	}
	#preview_text,
	#preview_title {
		width: 270px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	header img {
		width: 900px;
	}
	#hauptsponsoren {
		display: block;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	header img {
		width: 1135px;
	}
}